# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build / distribution files
*.zip

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment / secrets
.env
.env.*
